.button {
    -fx-background-color: #4ECDC4;
    -fx-text-fill: white;
    -fx-border-radius: 0;
    -fx-font-size: 40;
    -fx-max-width: 300;
}
.button:pressed {
    -fx-background-color: #42ada6;
}

.label {
    -fx-background-color: #4ECDC4;
    -fx-text-fill: white;
    -fx-border-radius: 0;
    -fx-font-size: 28;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 0 0 ;
    -fx-background-radius: 0 ;
    -fx-font-size: 30;
    -fx-padding: 0 0 0 0;
    -fx-max-width: 50
}